{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" integrity="sha256-2bAj1LMT7CXUYUwuEnqqooPb1W0Sw0uKMsqNH0HwMa4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div id="list-container" class="col-4 mr-3 card">
                <div class="card-body">
                    <div class="list-header d-flex justify-content-center mb-4">
                        <h2>Lista de libros</h2>
                    </div>
                    <div id="list"></div>
                </div>
            </div>
            <div id="pageContainer" class="col card  page-container">
                <div class="card-body">

                    <div id="pages" class="mb-4 d-none">

                        <div class="row text-center align-items-center justify-content-center ">
                            <button id="previousPage" class="btn btn-primary mr-3">Anterior</button>

                            <div class="col-3 col-lg-2">
                                <input class="form-control mr-2" placeholder="Numero de pagina" id="currentPage" type="number">
                            </div>
                            <span> / </span>
                            <span class="ml-2" id="totalPages"></span>

                            <button id="nextPage" class="btn btn-primary ml-3">Siguiente</button>


                            <div class="col-7 col-lg-5 col-xl-4 mt-4 mt-lg-0 ml-auto d-flex align-items-center">
                                <span>Formato: </span>
                                <select class="form-control ml-2" id="formatSelect">
                                    <option value="plain">Texto plano</option>
                                    <option value="html">HTML</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="pageTextContainer" class="page-text-container pr-4"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>