.page-container,
.listContainer {
	min-height: 90vh;
	max-height: 90vh;
}

.page-text-container,
.list-container {
	overflow: auto;
}

.page-text-container {
	text-align: justify;
	max-height: 75vh;
}

.book-link {
	cursor: pointer;
}
